$background-color-dark: #402f50;
$background-color-hover: #614679;
$background-color-light: #533c68;
$background-color-active: #33184b;
$active-text: #fff;
$inactive-text: #999;
$main-width: 250px;
$main-padding: 15px;
$category-font: 'Roboto', sans-serif;
$category-font-size: 1.1em;
$content-font-size: .8em;
