<div class="nav-container">
  <div class="nav-header">
    <img src="../../assets/images/logo.png">
  </div>
  <drawer-item class="tab" [image]="'../../assets/images/define.png'" [title]="'Define'">
    <drawer-item [title]="'Add Definitions'"></drawer-item>
    <drawer-item [title]="'Lookup'"></drawer-item>
    <drawer-item [title]="'Retrieve'"></drawer-item>
  </drawer-item>
  <drawer-item class="tab" [image]="'../../assets/images/gather.png'" [title]="'Gather'">
    <drawer-item [title]="'Add Definitions'"></drawer-item>
    <drawer-item [className]="'inner-tab-content'" [title]="'Audit Results'"></drawer-item>
    <drawer-item [className]="'inner-tab-content'" [title]="'Legacy Forms'"></drawer-item>
    <drawer-item [title]="'Blank Form'"></drawer-item>
  </drawer-item>
  <drawer-item class="tab" [image]="'../../assets/images/see.png'" [title]="'See'">
    <drawer-item [title]="'Analytics'"></drawer-item>
    <drawer-item [title]="'Insights'"></drawer-item>
    <drawer-item [title]="'Dataset'"></drawer-item>
  </drawer-item>
  <drawer-item class="tab" [image]="'../../assets/images/act.png'" [title]="'Act'">
    <drawer-item [title]="'Reconcile'"></drawer-item>
    <drawer-item [title]="'Access'"></drawer-item>
    <drawer-item [title]="'Review'"></drawer-item>
  </drawer-item>
  <drawer-item class="tab" [image]="'../../assets/images/admin.png'" [title]="'Admin'">
    <drawer-item [title]="'Log'"></drawer-item>
    <drawer-item [title]="'Write'"></drawer-item>
    <drawer-item [title]="'Remove'"></drawer-item>
  </drawer-item>
</div>