<div class="nav-container">
  <div class="nav-header">
    <img src="../../assets/images/logo.png">
  </div>
  <drawer-header class="tab" [headerImage]="'../../assets/images/define.png'" [headerTitle]="'Define'">
    <drawer-item class="inner-tab-content" [title]="'Add Definitions'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Lookup'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Retrieve'"></drawer-item>
  </drawer-header>
  <drawer-header class="tab" [headerImage]="'../../assets/images/gather.png'" [headerTitle]="'Gather'">
    <drawer-item class="inner-tab-content" [title]="'Add Definitions'"></drawer-item>
    <drawer-header [className]="'inner-tab-content'" [headerTitle]="'Audit Results'">
      <drawer-item class="inner-tab-content" [title]="'Results'"></drawer-item>
    </drawer-header>
    <drawer-header [className]="'inner-tab-content'" [headerTitle]="'Legacy Forms'">
      <drawer-item class="inner-tab-content" [title]="'Form 1'"></drawer-item>
      <drawer-item class="inner-tab-content" [title]="'Form 2'"></drawer-item>      
    </drawer-header>
    <drawer-item class="inner-tab-content" [title]="'Blank Form'"></drawer-item>
  </drawer-header>
  <drawer-header class="tab" [headerImage]="'../../assets/images/see.png'" [headerTitle]="'See'">
    <drawer-item class="inner-tab-content" [title]="'Analytics'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Insights'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Dataset'"></drawer-item>  
  </drawer-header>
  <drawer-header class="tab" [headerImage]="'../../assets/images/act.png'" [headerTitle]="'Act'">
    <drawer-item class="inner-tab-content" [title]="'Reconcile'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Access'"></drawer-item>
    <drawer-item class="inner-tab-content" [title]="'Review'"></drawer-item>    
  </drawer-header>
  <drawer-header class="tab" [headerImage]="'../../assets/images/admin.png'" [headerTitle]="'Admin'">
    <drawer-item class="inner-tab-content" [title]="'Log'"></drawer-item>  
    <drawer-item class="inner-tab-content" [title]="'Write'"></drawer-item>  
    <drawer-item class="inner-tab-content" [title]="'Remove'"></drawer-item>  
  </drawer-header>
</div>