@import '~sass/variables';
.nav-container {
    background-color: $background-color-active;
    width: $main-width;
    color: $inactive-text;
    .nav-header {
        padding: $main-padding;
        background-color: $background-color-light;
        margin-bottom: 1px;
        text-align: center;
        img {
            width: ($main-width - ($main-padding * 2)) - 25px;
            vertical-align: middle;
        }
    }
    .tab {
        background-color: $background-color-dark;
        font-family: $category-font;
        font-size: $category-font-size;
    }
}